@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	font: 100%/1.4 Gill Sans, sans-serif;
}
.homePage {
	background: #BFCBFF;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #FFC7DF;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	
}
.nav {
	background: #F6AFFE ;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #FF9DE9;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #E0B3FF;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #000000;
}
a:visited {
     color: #000000;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
